useDynLib(hgm)
export(hgm.so3nc)
export(hgm.pwishart)
export(hgm.ncso3)
export(hgm.normalizingConstantOfFisherDistributionOnSO3)
export(hgm.ncorthant)
export(hgm.normalizingConstantOfOrthant)
export(hgm.Rhgm)
export(hgm.Rhgm.demo1)
export(hgm.ncBingham)
export(hgm.normalizingConstantOfBinghamDistribution)
export(hgm.mleDemo)
export(hgm.ssFB)
export(hgm.mleFBByOptim)

